<template>
  <button class="btn" @click="onButtonClick">
      <span class="button-text" v-html="text"/>
  </button>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            required: true
        }
    },
    methods: {
        onButtonClick() {
            this.$emit('click')
        }
    }
}
</script>

<style scoped>
.btn {
    padding: 15px 25px;
    border-radius: 3px;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    text-align: center;
}
</style>>
