<template>
  <main>
      <h2 v-html="question.question"></h2>
      <div>
          <Button v-for="q in answers" :key="q" @click="onAnswerClick(q)" :text="q" />
      </div>
  </main>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Button from '../Button/Button'

export default {
    name:'QuestionItem',
    props: ['question'],
    components: { Button },
    computed: {
        ...mapGetters(['answers'])
    },
    methods: {
        ...mapActions(['goToNextQuestion', 'answerQuestion']),
        onAnswerClick(answer) {
            this.answerQuestion(answer)
            this.goToNextQuestion();
        }
    }
}
</script>

<style>

</style>