<template>

    <main>

        <div v-if="isLoading">
            <h2>The Questions are loading...</h2>
        </div>

        <div v-else-if="error">
            <h2>{{error}}</h2>
            <Button :text="Home" @click="onHomeClick" />
        </div>

        <div v-else>
            <QuestionItem :question="questions[questionIndex]" :key="questions[questionIndex].question" />
        </div>

    </main>
    
</template>

<script>
import QuestionItem from '../Questions/QuestionItem'
import Button from '../Button/Button'
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
    name: "Questions",
    components: { Button, QuestionItem },
    computed: {
        ...mapState(['questions', 'error', 'questionIndex', 'isLoading'])
    },
    created() {
        this.getTriviaQuestions()
    },
    methods: {
        ...mapActions(['getTriviaQuestions', 'goToNextQuestion']),
        ...mapMutations(['steQuestions']),
        onHomeClick() {
            this.$router.push('/')
        }
    }
}
</script>
