<template>

  <main @keydown.enter="onStart" class="home-container">

      <h1 class="center">Trivia Quest</h1>

    <div class="settings-container">

        <div class="amount-container center mrg-20">
            <label for="amountOfQuestions">Set amount of questions:</label>
            <input class="input" type="number" @input="onAmountOfQuestionsChange" name="amountOfQuestions" :value="amountOfQuestions" placeholder="1 - 50">
            <span v-if="formError.numberError">{{ formError.message }}</span>
        </div>

        <div class="difficulty-container center mrg-20">
            <label for="amountOfQuestions">Set difficulty level:</label>
            <select class="input" @input="onDifficultyChange" name="difficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        </div>

        <div class="category-container center mrg-20">
            <label for="amountOfQuestions">Category</label>
            <select class="input" @input="onCategoryChange" name="category">
                <option v-for="category in categories" :key="category.id" :value="category.id">{{category.name}}</option>
            </select>
        </div>

      </div>

      <Button :text="'Start Game'" @click="onStart" />

  </main>

</template>

<script>
import Button from '../Button/Button'
import { mapMutations, mapActions, mapState } from 'vuex'

export default {
    name: 'Home',
    components: { Button },
    data() {
        return {
            formError: {
                numberError: false,
                message: ''
            }
        }
    },
    watch: {
        amountOfQuestions(value) {
            this.validateNumber(value)
        }
    },
    computed: {
        ...mapState(['error', 'categories', 'amountOfQuestions', 'difficulty', 'selectedCategory', 'isLoading'])
    },
    methods: {
        ...mapMutations(['setAmountOfQuestions', 'setSelectedCategory', 'setDifficulty']),
        ...mapActions(['getTriviaCategories']),
        onStart() {
            if(this.formError.numberError || this.amountOfQuestions === '') return
            this.$router.push('/questions')
        },
        onAmountOfQuestionsChange(e) {
            this.setAmountOfQuestions(e.target.value)
        },
        onCategoryChange(e) {
            this.setSelectedCategory(e.target.value)
        },
        onDifficultyChange(e) {
            this.setDifficulty(e.target.value)
        },
        validateNumber(value) {
            if(value == '') return

            if(value < 1) {
                this.formError.message = 'Minimum amount of questions is 1'
                this.formError.numberError = true
            } else if(value > 50) {
                this.formError.message = 'Maximum amount of questions is 50'
                this.formError.numberError = true
            } else {
                this.formError.message = ''
                this.formError.numberError = false
            }
        }
    },
    created() {
        this.getTriviaCategories()
        this.setAmountOfQuestions('')
    }
}
</script>

<style>

body {
    background-color: #3e92cc;
    width: 99%;
    height: 100%;
}

.home-container {
    background: #EDF2EF;
    height: 500px;
    width: 750px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
}

.center {
    text-align: center;
}

.settings-container {
    margin-top: 50px;
}

.mrg-20 {
    margin-bottom: 20px;
}

.input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
}

</style>