<template>
  
    <main>

        <div v-if="questions.length">
            <h1> Your score: {{score}} / {{questions.length * 10}} points </h1>
            <div>
                <Button @click="onPlayAgainClick" :text="'Play Again'" />
                <Button @click="onHomeClick" :text="'Home'" />
            </div>
            <ResultItem v-for="question in questions" :question="question" :key="question.question" />
        </div>

        <div v-else>
            <Button @click="onHomeClick" :text="'Take a Quiz!'" />
        </div>

    </main>

</template>

<script>
import { mapState } from 'vuex'
import ResultItem from '../Result/ResultItem'
import Button from '../Button/Button'

export default {
    name: 'Score',
    components: { ResultItem, Button },
    data() {
        return {
            score: 0
        }
    },
    computed: {
        ...mapState(['questions'])
    },
    created() {
        this.score = this.questions.reduce((score, q) => {
            return q.answer === q.correct_answer ? score + 10 : score + 0
        }, 0)
    },
    methods: {
        onPlayAgainClick() {
            this.$router.push('/questions')
        },
        onHomeClick() {
            this.$router.push('/')
        }
    }
}
</script>

<style>

</style>