<template>

  <main>
      <span v-html="question.question">

        <ul>
            <li 
                class="result__item"
                v-for="answer in answers" 
                :key="answer" 
                :class="{
                    'result__item--wrong': answer === question.answer && answer !== question.correct_answer ? true : false, 
                    'result__item--correct': answer === question.correct_answer}"
            >

                {{answer}}
              </li>
          </ul>

          <aside>
              <img v-if="correctAnswer" src="@/assets/correct.png" alt="correct">
              <img v-else src="@/assets/wrong.png" alt="wrong">
          </aside>

      </span>
  </main>

</template>

<script>
export default {
    name: 'ResultItem',
    props: ['question'],
    data() {
        return {
            correctAnswer: this.question.correct_answer === this.question.answer? true : false,
            answers: [this.question.correct_answer, ...this.question.incorrect_answers]
        }
    }
}
</script>

<style>

.result {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 1rem;
  margin: 1rem;
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.result:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.result__title {
  grid-column: 1/3;
}

.result__list {
  margin: 0;
  list-style: none;
}

.result__result {
  text-align: center;
}

.result__item--correct {
  color: green;
}

.result__item--wrong {
  color: var(--error-color)
}

.result__item::before {
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1rem;
}

.result__item--wrong::before {
  content: "\2717"; /* CSS Code/unicode for a cross/ballot */
  margin-left: -1.3rem; 
  color: red;
}

.result__item--correct::before {
  content: "\2713"; /* CSS Code/unicode for a check mark */
  margin-left: -1.3rem; 
  color: green; 
}

.result__image {
  width: 5rem;
}

</style>