<template>


  <div id="app">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,300&display=swap" rel="stylesheet">
    <router-view />
  </div>

</template>


<script>

export default {
  name: 'App',
  components: {

  }
};

</script>

<style>
body {
  font-family: 'Rubik', sans-serif;
}

</style>
